---
import Bubble from './bubble.astro';

const title = Astro.props.title;
const description = Astro.props.description;
const dates = Astro.props.dates;
const location = Astro.props.location;
const image = Astro.props.image;
const stack = Astro.props.stack;
const link = Astro.props.link;
---

<a class="w-auto max-w-md shadow-md bg-amber-50 dark:text-gray-900 dark:bg-gray-400 m-5 hover:shadow-black hover:ring-4 hover:ring-[#8d5c47] dark:hover:ring-yellow-500 rounded-md p-6 grid gap-6
delay-[20ms] duration-[400ms] taos:scale-[0.6] taos:opacity-0" data-taos-offset="50" href={link} target="_blank">
  <div class="flex items-center gap-4">
    <div class="bg-muted rounded-md flex items-center justify-center aspect-square w-14">
      <img
        src={image}
        width="50"
        height="50"
        alt="Project Logo"
        class="object-contain"
      />
    </div>
    <div class="grid gap-1">
      <h3 class="text-xl font-semibold">{title}</h3>
      <div class="flex items-center gap-1 text-sm text-muted-foreground">
        <span>{location}</span>
        <span>·</span>
        <span>{dates}</span>
      </div>
    </div>
    </div>
  <p class="text-muted-foreground">
    {description}
  </p>
  <div class="flex flex-wrap gap-2">
    {stack.map((item : string, index : number) => (
      <Bubble key={index} item={item} />
    ))}
  </div>
</a>
