---
import Card from "../../components/base/card.astro";
import type { Project } from "../../types";
import projects from "../../data/projects.json";
import Layout from "../../layouts/Layout.astro";
import SimpleMenu from "../../components/SimpleMenu.astro";
---

<Layout
  title="Projects - Aahil Nishad"
  description="My professional projects and portfolio"
>
  <SimpleMenu currentPage="projects" />
  <div class="font-[Schoolbell] font-extrabold p-4 text-4xl text-center">
    Projects
  </div>
  <div class="flex flex-wrap justify-center gap-2">
    {
      projects.map((project: Project, index: number) => (
        <Card
          key={index}
          title={project.title}
          description={project.description}
          dates={project.dates}
          image={`/images/projects/${project.image}.svg`}
          company={project.company}
          location={project.location}
          stack={project.stack}
          link={project.link}
        />
      ))
    }
  </div>
</Layout>
